// Joomla and 3rd party extensions
// --------------------------------------------------------------------
// Styles for common Joomla and 3rd party extension elements


// Event Registration Pro
// --------------------------------------------------------------------

.events-list {
	.event {
		padding-bottom:2em;
		margin-bottom:2em;
		border-bottom:1px solid @gray-lighter;
	}
}
