// Lyquix
// --------------------------------------------------------------------
// Additional Lyquix template styles

// List of items - styles for items listed in categories and main content

@color-item-title:		@color-headings;
@color-item-subtitle:	@color-copy;
@color-item-teaser:		@color-copy;
@color-item-date:		@color-copy;
@color-item-author:		@color-copy;
@color-item-caption:	@color-copy;

@font-item-title:		@font-headings;	
@font-item-subtitle:	@font-copy;
@font-item-teaser:		@font-copy;
@font-item-date:		@font-copy;
@font-item-author:		@font-copy;
@font-item-caption:		@font-copy;

// Related items - styles for items related to main content

@color-related-title:	@color-headings;	
@color-related-subtitle:	@color-copy;
@color-related-teaser:	@color-copy;
@color-related-date:	@color-copy;
@color-related-author:	@color-copy;
@color-related-caption:	@color-copy;

@font-related-title:	@font-headings;	
@font-related-subtitle:	@font-copy;
@font-related-teaser:	@font-copy;
@font-related-date:		@font-copy;
@font-related-author:	@font-copy;
@font-related-caption:	@font-copy;

// Side content items - styles for items shown as side content

@color-side-title:		@color-headings;
@color-side-subtitle:	@color-copy;
@color-side-teaser:		@color-copy;
@color-side-date:		@color-copy;
@color-side-author:		@color-copy;
@color-side-caption:	@color-copy;

@font-side-title:		@font-headings;	
@font-side-subtitle:	@font-copy;
@font-side-teaser:		@font-copy;
@font-side-date:		@font-copy;
@font-side-author:		@font-copy;
@font-side-caption:		@font-copy;



