###
#
# .htaccess - Apache directory configuration
#
# @version     2.3.0
# @package     tpl_lyquix
# @author      lyquix
# @copyright   Copyright (C) 2015 - 2018 Lyquix
# @license     GNU General Public License version 2 or later
# @link        https://github.com/lyquix/tpl_lyquix
#
###

# Disable directory listing
Options -Indexes
